body {
    
    background: linear-gradient(to right, #E3EEB2);
    background-size: cover;
 
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #332D56;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)

}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4E6688;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 10px;
}
li {
   background: linear-gradient(to right, #71C0BB);
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
div {
    color: #000000;
    font-size: 20px;

}

