body {
    
    background: linear-gradient(to right, #000000, #0844e9);
    background-size: cover;
 
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #31a2ff;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)

}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #720202;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 10px;
}
li {
    background: rgb(160, 189, 231);
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

